<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamerLab</title>
    <link rel="icon" type="./img/png" href="./img/logoGL.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<%- include('./../views/partials/header') %>

<body>
    
    <form action="/users/profile/<%=user.id%>?_method=PUT" method="POST" class="formulario-prod" enctype="multipart/form-data">
        
    <h1 class="titulo-formulario">EDICIÓN DE PERFIL</h1>


    <div class="profile-pic">
        <label class="label" for="file">
          <span></span>
          <span>Editar imagen</span>
        </label>
        <input type="file" name="image"  id="foto-producto" onchange="loadFile(event)"/>
        <img src="/img/avatars/<%=user.imagen%>" id="output" width="200" />
    </div>

<!--
    <div class="formulario-producto">
        <label for="file">Imagen del usuario: </label>
        <img src="/img/avatars/<%=user.imagen%>" class="editarImagen">
        <input type="file" name="image" class="usuario" placeholder="foto" id="foto-producto">
    </div>
-->

    <div class="formulario-producto">
        <label>Nombre del usuario:</label>
        <input type="text" value="<%=user.nombre%>" name="name" class="usuario" placeholder="Nombre del usuario" id="formulario-text">
    </div>    
    
    <div class="formulario-producto">
        <label>Apellido del usuario:</label>
        <input type="text" id="formulario-text" name="apellido" value='<%=user.apellido%>'></input>
    </div>

    <div class="formulario-producto">
        <label>Cumpleaños:</label>
        <input type="date" value ="<%=user.fecha_nacimiento%>" name="fecha_nacimiento" class="usuario" id="formulario-text">
    </div>

    <div class="formulario-producto">
        <label>Dirección de email: </label>
        <input type="email" value="<%=user.email%>" name="email" class="usuario" placeholder="email" id="formulario-text">
    </div>

    <div class="formulario-producto">
        <label>Documento nacional de identidad: </label>
        <input type="text" name="dni" class="usuario" id="formulario-text" value="<%=user.dni%>">
    </div>

    <div class="formulario-producto">
        <label>Teléfono: </label>
        <input type="text" name="telefono" class="usuario" id="formulario-text" value="<%=user.telefono%>">
    </div>

    <button type="submit" class="formulario-boton">Modificar perfil</button>
    
</form>



<script src="/js/perfil.js"></script>

</main>
<%- include('./../views/partials/footer') %>

</body>
</html>