<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamerLab</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<%- include('./../views/partials/header') %>

<body>
    <form action="/products/edit<%= productoEnDetalle.id %>?_method=PUT" method="POST" class="formulario-prod">
        
    <h1 class="titulo-formulario">EDICIÓN DE PRODUCTO</h1>

    <div class="formulario-producto">
        <label>Imagen del producto: <%= productoEnDetalle.image%></label>
        <input type="file" name="usuario" class="usuario" id="foto-producto">
    </div>

    <div class="formulario-producto">
        <label>Nombre del producto: <%= productoEnDetalle.name%></label>
        <input type="text" name="usuario" class="usuario" placeholder="Nombre del producto" id="formulario-text">
    </div>    
    
    <div class="formulario-producto">
        <label>Descripción:<%= productoEnDetalle.description%></label>
        <textarea rows="4" cols="40" id="formulario-text"></textarea>
    </div>

    <div class="formulario-producto">
        <label>Precio: $<%= productoEnDetalle.price%></label>
        <input type="text" name="usuario" class="usuario" placeholder="$" id="formulario-text">
    </div>

    <div class="formulario-producto">
        <label>Descuento:<%= productoEnDetalle.discounte%>%</label>
        <input type="text" name="usuario" class="usuario" placeholder="%" id="formulario-text">
    </div>

    <div class="formulario-producto">
        <label>Stock:<%= productoEnDetalle.image%></label>
        <input type="number" name="usuario" class="usuario" id="formulario-text">
    </div>


    <div class="formulario-producto">
        <label for="categoria">Categoría del producto:</label>
            <select id="categoria" name="categoria" class="formulario-text">
                <option value="notebooks">Notebooks</option>
                <option value="monitores">Monitores</option>
                <option value="accesorios">Teclados y mouses</option>
                <option value="audio">Audio</option>
                <option value="placa">Placa de video</option>
                <option value="pc">Armá tu PC</option>
                <option value="muebleria">Sillas y escritorios</option>
            </select>
    </div>

    <button type="submit" class="formulario-boton">Modificar producto</button>
</form>

</main>
<%- include('./../views/partials/footer') %>
</body>
</html>