<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamerLab</title>
    <link rel="icon" type="./img/png" href="./img/logoGL.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./css/estilos.css">
</head>
<body>
    <%- include('./../views/partials/header') %>
<main>
        <div>
            <img class="banner" src="/img/omen.jpg" alt="HP Omen Gaming">
        </div>
        

    <div c.lass="container products-wrapper" id="lista-productos">
        <div class="col-12">
            <h3 class="titulos">NOVEDADES</h3>
        </div>
            
            <div class="row">
                <% for (let i =0; i < productos.length; i++) { %> 
                    <% if (productos[i].deleteable == 1 ) { %> 
                <div class="col-12 col-sm-6 col-lg-3">
                    <section class="product-box product-item">
                        <a href="/products/detail/<%=productos[i].id %>">
                            <figure class="product-box_image">
                                <img src="/img/products/<%=productos[i].imagen %>">
                            </figure>
                            <article class="product-box_data"></article>
                                <h4 class="product-title"><%=productos[i].nombre %></h4>
                                <h3 class="product-price">$<%=productos[i].precio_lista %></h3>
                            </article>
                        </a>
                    </section>
                </div>
                    <% } %>
                <% } %> 
        </div>
    <script src="/js/show-hide.js"></script>

        <section class="noticia">
            <h3 class="noticias">NOTICIAS</h3>
            <div class="noticia-banner">
               <h4 class="titulo-articulo">KRÜ, el nuevo equipo de esports del Kun Agüero</h4>
               <p class="articulo">El delantero de la Selección Argentina y flamante refuerzo del Barcelona anunció la creación de su flamante equipo de esports que, por el momento, se sabe que competirá en FIFA 21. </p>
               <a href="#!" class="btn"> Leer más </a>
            </div>
        </section>
    <script src="/js/carrito.js"></script>
    <script src="/js/pedido.js"></script>
    </main>
    
    <%- include('./../views/partials/footer') %>
</body>
</html>