<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamerLab - Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>
    <%- include('./../views/partials/header') %>

<main>

    <div class="formulario-registro" >
        <section class="perfil-box">

            <h1 class="titulos">TU PERFIL</h1>

            <div class="datoperfil">
                <img src="/public/img/<%= usuario[id].image %>" >
            </div>
            
            <div class="datoperfil">
                <h2 class="perfil">Nombre de Usuario:</h2>
                <p><%= usuario[id].name %></p>
            </div>

            <div class="datoperfil">
            <h2 class="perfil">Cumpleaños: </h2>
                <p><%= usuario[id].cumpleaños %></p>
            </div>

            <div class="datoperfil">
            <h2 class="perfil">Dirección de email: </h2>
                <p><%= usuario[id].email %></p>
            </div>

            <div class="datoperfil">
            <h2 class="perfil">Contraseña: </h2>
                <p><%= usuario[id].password %></p>
            </div>
        </section>
    </div>
    
<!--
<section class="noticia">
    <h3 class="noticias">NOTICIAS</h3>
    <div class="noticia-banner">
       <h4 class="titulo-articulo">KRÜ, el nuevo equipo de esports del Kun Agüero</h4>
       <p class="articulo">El delantero de la Selección Argentina y flamante refuerzo del Barcelona anunció la creación de su flamante equipo de esports que, por el momento, se sabe que competirá en FIFA 21. </p>
       <a href="#" class="btn"> Leer más </a>
    </div>
</section>
-->

</main>

<%- include('./../views/partials/footer') %>

</body>

</html>