<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamerLab - Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>
    <%- include('./../views/partials/header') %>

<main>

    <form method="POST" action="/users/register" class="formulario-registro" enctype="multipart/form-data">
        <div class="usuariologo"><i class="far fa-user-circle"></i></div>
        
            <div class="control-formulario">
                <label>Nombre de Usuario:</label>
                <input type="text" name="name" class="usuario <%= locals.errors && errors.name ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.name : null %>" placeholder="Nombre de usuario">
                <% if (locals.errors && errors.name) { %>
                    <div class="text-danger">
                    <%= errors.name.msg %>
                    </div>
                <% } %>
            </div>

            <div class="control-formulario">
                <label>Cumplea침os:</label>
                <input type="date" name="birthdate" class="usuario <%= locals.errors && errors.birthdate ? 'is-invalid' : null %>"value="<%= locals.oldData ? oldData.birthdate : null %>">
                <% if (locals.errors && errors.birthdate) { %>
                    <div class="text-danger">
                    <%= errors.birthdate.msg %>
                    </div>
                <% } %>
            </div>

            <div class="control-formulario">
                <label>Direcci칩n de email:</label>
                <input type="email" name="email" class="usuario <%= locals.errors && errors.email ? 'is-invalid' : null %>"value="<%= locals.oldData ? oldData.email : null %>" placeholder="email">
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                    <%= errors.email.msg %>
                    </div>
                <% } %>
            </div>

            <div class="control-formulario">
                <label>Contrase침a:</label>
                <input type="password" name="password" class="usuario <%= locals.errors && errors.password ? 'is-invalid' : null %>" placeholder="Contrase침a">
                <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                    <%= errors.password.msg %>
                    </div>
                <% } %>
            </div>

            <div class="control-formulario">
                <label>Imagen de perfil:</label>
                <input type="file" name="avatar" class="usuario" id="foto-producto">
                <% if (locals.errors && errors.avatar) { %>
                    <div class="text-danger">
                    <%= errors.avatar.msg %>
                    </div>
                <% } %>
            </div>

            <button type="submit" class="boton-formulario">Registrarme</button>
    
    </form>


</main>

<%- include('./../views/partials/footer') %>
</body>
</html>